.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table{
  /* overflow-x:auto; */
  position: relative;
  width: 100%; 
  border-collapse: collapse; 
  margin-left: auto;
  margin-right: auto;
  /* border-collapse: collapse; */
  /* border-spacing: 0; */
  color: grey;}
tr:hover td { background: transparent; }
tr:nth-child(even) {
  background-color: #C0DBEA;}

.dd{
  overflow-x:auto;
}
.d1{
  top:20px;
  margin-left: 18px;
  position: relative;
  /* align-items: center; */
  width: 32%;
  height: 100%; 
  border-radius: 25px;
  border: 2px solid #C0DBEA;
  padding: 20px; 
  /* width: 200px; */
  /* height: 150px; */
}